In [ ]:
import pandas as pd
df=pd.read_csv("/content/tested.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Cabin','Embarked'],inplace=True,axis='columns')

In [ ]:
df.drop(['Ticket'],axis='columns',inplace=True)

In [ ]:

df

     Survived  Pclass     Sex   Age      Fare
0           0       3    male  34.5    7.8292
1           1       3  female  47.0    7.0000
2           0       2    male  62.0    9.6875
3           0       3    male  27.0    8.6625
4           1       3  female  22.0   12.2875
..        ...     ...     ...   ...       ...
413         0       3    male   NaN    8.0500
414         1       1  female  39.0  108.9000
415         0       3    male  38.5    7.2500
416         0       3    male   NaN    8.0500
417         0       3    male   NaN   22.3583

[418 rows x 5 columns]

In [ ]:
target=df.Survived
input_var=df.drop('Survived',axis='columns')

In [ ]:
input_var

     Pclass     Sex   Age      Fare
0         3    male  34.5    7.8292
1         3  female  47.0    7.0000
2         2    male  62.0    9.6875
3         3    male  27.0    8.6625
4         3  female  22.0   12.2875
..      ...     ...   ...       ...
413       3    male   NaN    8.0500
414       1  female  39.0  108.9000
415       3    male  38.5    7.2500
416       3    male   NaN    8.0500
417       3    male   NaN   22.3583

[418 rows x 4 columns]

In [ ]:
dummies=pd.get_dummies(input_var.Sex)
dummies

     female  male
0         0     1
1         1     0
2         0     1
3         0     1
4         1     0
..      ...   ...
413       0     1
414       1     0
415       0     1
416       0     1
417       0     1

[418 rows x 2 columns]

In [ ]:
input_var=pd.concat([input_var,dummies],axis='columns')

In [ ]:
input_var

     Pclass     Sex   Age      Fare  female  male
0         3    male  34.5    7.8292       0     1
1         3  female  47.0    7.0000       1     0
2         2    male  62.0    9.6875       0     1
3         3    male  27.0    8.6625       0     1
4         3  female  22.0   12.2875       1     0
..      ...     ...   ...       ...     ...   ...
413       3    male   NaN    8.0500       0     1
414       1  female  39.0  108.9000       1     0
415       3    male  38.5    7.2500       0     1
416       3    male   NaN    8.0500       0     1
417       3    male   NaN   22.3583       0     1

[418 rows x 6 columns]

In [ ]:

input_var.drop('Sex',inplace=True,axis='columns')

In [ ]:
input_var

     Pclass   Age      Fare  female  male
0         3  34.5    7.8292       0     1
1         3  47.0    7.0000       1     0
2         2  62.0    9.6875       0     1
3         3  27.0    8.6625       0     1
4         3  22.0   12.2875       1     0
..      ...   ...       ...     ...   ...
413       3   NaN    8.0500       0     1
414       1  39.0  108.9000       1     0
415       3  38.5    7.2500       0     1
416       3   NaN    8.0500       0     1
417       3   NaN   22.3583       0     1

[418 rows x 5 columns]

In [ ]:
input_var.columns[input_var.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [ ]:
input_var[['Age','Fare']]

      Age      Fare
0    34.5    7.8292
1    47.0    7.0000
2    62.0    9.6875
3    27.0    8.6625
4    22.0   12.2875
..    ...       ...
413   NaN    8.0500
414  39.0  108.9000
415  38.5    7.2500
416   NaN    8.0500
417   NaN   22.3583

[418 rows x 2 columns]

In [ ]:
input_var.Age=input_var.Age.fillna(input_var.Age.mean())

In [ ]:
input_var.Fare=input_var.Fare.fillna(input_var.Fare.mean())

In [ ]:
input_var

     Pclass       Age      Fare  female  male
0         3  34.50000    7.8292       0     1
1         3  47.00000    7.0000       1     0
2         2  62.00000    9.6875       0     1
3         3  27.00000    8.6625       0     1
4         3  22.00000   12.2875       1     0
..      ...       ...       ...     ...   ...
413       3  30.27259    8.0500       0     1
414       1  39.00000  108.9000       1     0
415       3  38.50000    7.2500       0     1
416       3  30.27259    8.0500       0     1
417       3  30.27259   22.3583       0     1

[418 rows x 5 columns]

In [ ]:
input_var.isna().any()

Pclass    False
Age       False
Fare      False
female    False
male      False
dtype: bool

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(input_var , target , test_size=0.20)

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [ ]:
model.fit(X_train,y_train)

GaussianNB()

In [ ]:
model.score(X_test,y_test)

1.0

In [ ]:
model.predict(X_test)

array([1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1])