
#Aim of Column Transfomer is to transform column in efficient manner

## Gender,City- Nominal categorical Data

## Cough- Ordinal categorical Data

## has_covid - Label Encoder

In [ ]:
import pandas as pd
import numpy as np
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [ ]:
df=pd.read_csv('/content/covid_toy.csv')

In [ ]:
df.sample(5)

    age  gender  fever   cough       city has_covid
35   82  Female  102.0  Strong  Bangalore        No
21   73    Male   98.0    Mild  Bangalore       Yes
77    8  Female  101.0    Mild    Kolkata        No
37   55    Male  100.0    Mild    Kolkata        No
70   68  Female  101.0  Strong      Delhi        No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [ ]:
df.isna().any()

age          False
gender       False
fever         True
cough        False
city         False
has_covid    False
dtype: bool

## Fever column has missing values which can be either removed by removing the missing rows but it can be a problem if the dataset is small so u can see our data set had 100 rows which after removing the null rows is reduced to 90

In [ ]:
df['fever'].shape

(100,)

In [ ]:
df['fever'].notna().shape

(100,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [ ]:
X_train

    age  gender  fever   cough       city
6    14    Male  101.0  Strong  Bangalore
28   16    Male  104.0    Mild    Kolkata
77    8  Female  101.0    Mild    Kolkata
49   44    Male  104.0    Mild     Mumbai
92   82  Female  102.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
17   40  Female   98.0  Strong      Delhi
91   38    Male    NaN    Mild      Delhi
46   19  Female  101.0    Mild     Mumbai
32   34  Female  101.0  Strong      Delhi
34   74    Male  102.0    Mild     Mumbai

[80 rows x 5 columns]

In [ ]:
y_test

52    Yes
3      No
80    Yes
71     No
94    Yes
66     No
68     No
15    Yes
35     No
7     Yes
42    Yes
97     No
81     No
87     No
41    Yes
54    Yes
57     No
13    Yes
10     No
26    Yes
Name: has_covid, dtype: object

#Now we are doing transformation by making changes in all columns and concating them

In [ ]:
from sklearn.impute import SimpleImputer

##Fever column has 12 missing values which we are filling by Simple Imputer

In [ ]:
si=SimpleImputer()

df.isnull().sum()

X_train_fever=si.fit_transform(X_train[['fever']])
X_test_fever=si.fit_transform(X_test[['fever']])

X_train_fever.shape
X_test_fever.shape

(20, 1)

##Ordinal Encoding on cough column

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

oe=OrdinalEncoder(categories=[['Mild','Strong']])

X_train_cough=oe.fit_transform(X_train[['cough']])
X_test_cough=oe.fit_transform(X_test[['cough']])

X_test_cough.shape

(20, 1)

##One Hot Encoding on Gender and city column

In [ ]:
from sklearn.preprocessing import OneHotEncoder

ohe=OneHotEncoder(drop='first',sparse=False)

X_train_gender_city=ohe.fit_transform(X_train[['gender','city']])

X_test_gender_city=ohe.fit_transform(X_test[['gender','city']])

X_test_gender_city.shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(20, 4)

In [ ]:
X_train_age=X_train.drop(columns=['gender','city','fever','cough']).values
X_test_age=X_test.drop(columns=['gender','city','fever','cough']).values
X_test_age.shape

(20, 1)

In [ ]:
X_train_tranformed=np.concatenate((X_train_age,X_train_gender_city,X_train_cough),axis=1)

In [ ]:
X_test_tranformed=np.concatenate((X_test_age,X_test_gender_city,X_test_cough),axis=1)

In [ ]:
X_train_tranformed

array([[14.,  1.,  0.,  0.,  0.,  1.],
       [16.,  1.,  0.,  1.,  0.,  0.],
       [ 8.,  0.,  0.,  1.,  0.,  0.],
       [44.,  1.,  0.,  0.,  1.,  0.],
       [82.,  0.,  0.,  1.,  0.,  1.],
       [ 6.,  0.,  0.,  1.,  0.,  0.],
       [33.,  0.,  1.,  0.,  0.,  1.],
       [55.,  1.,  0.,  1.,  0.,  0.],
       [81.,  0.,  0.,  0.,  1.,  1.],
       [42.,  1.,  1.,  0.,  0.,  0.],
       [42.,  1.,  0.,  0.,  1.,  0.],
       [34.,  0.,  0.,  0.,  1.,  1.],
       [69.,  0.,  0.,  0.,  1.,  1.],
       [34.,  1.,  0.,  1.,  0.,  1.],
       [69.,  0.,  0.,  0.,  0.,  0.],
       [18.,  0.,  0.,  0.,  0.,  0.],
       [42.,  0.,  0.,  0.,  0.,  1.],
       [46.,  1.,  0.,  0.,  0.,  1.],
       [38.,  0.,  0.,  0.,  0.,  0.],
       [34.,  0.,  1.,  0.,  0.,  1.],
       [25.,  1.,  0.,  0.,  0.,  0.],
       [ 5.,  0.,  0.,  1.,  0.,  0.],
       [24.,  1.,  0.,  1.,  0.,  0.],
       [71.,  0.,  0.,  1.,  0.,  1.],
       [49.,  0.,  1.,  0.,  0.,  0.],
       [83.,  0.,  0.,  1.,  0.,  0.],
       [72.,  1.,  0.,  0.,  0.,  0.],
       [65.,  0.,  0.,  0.,  1.,  0.],
       [65.,  0.,  0.,  0.,  1.,  0.],
       [80.,  1.,  0.,  0.,  0.,  0.],
       [23.,  1.,  0.,  0.,  1.,  0.],
       [ 5.,  1.,  0.,  1.,  0.,  0.],
       [27.,  1.,  0.,  1.,  0.,  0.],
       [64.,  0.,  0.,  0.,  0.,  0.],
       [12.,  0.,  0.,  0.,  0.,  0.],
       [83.,  1.,  1.,  0.,  0.,  0.],
       [10.,  0.,  0.,  1.,  0.,  1.],
       [80.,  0.,  1.,  0.,  0.,  0.],
       [71.,  1.,  0.,  1.,  0.,  1.],
       [25.,  0.,  0.,  1.,  0.,  1.],
       [13.,  0.,  0.,  1.,  0.,  1.],
       [10.,  1.,  0.,  0.,  0.,  0.],
       [27.,  1.,  1.,  0.,  0.,  0.],
       [69.,  0.,  0.,  1.,  0.,  0.],
       [73.,  0.,  1.,  0.,  0.,  0.],
       [11.,  0.,  0.,  1.,  0.,  1.],
       [51.,  0.,  0.,  1.,  0.,  1.],
       [66.,  1.,  0.,  0.,  0.,  1.],
       [56.,  0.,  0.,  0.,  0.,  1.],
       [20.,  1.,  1.,  0.,  0.,  1.],
       [ 5.,  0.,  0.,  0.,  1.,  1.],
       [11.,  1.,  0.,  0.,  0.,  0.],
       [73.,  1.,  0.,  0.,  0.,  0.],
       [22.,  0.,  0.,  0.,  0.,  0.],
       [26.,  0.,  0.,  1.,  0.,  0.],
       [16.,  0.,  0.,  0.,  0.,  0.],
       [17.,  0.,  0.,  1.,  0.,  0.],
       [81.,  0.,  0.,  0.,  1.,  0.],
       [49.,  0.,  1.,  0.,  0.,  0.],
       [84.,  0.,  0.,  0.,  0.,  0.],
       [19.,  1.,  1.,  0.,  0.,  0.],
       [50.,  0.,  0.,  1.,  0.,  0.],
       [64.,  0.,  1.,  0.,  0.,  0.],
       [19.,  0.,  0.,  0.,  0.,  1.],
       [24.,  0.,  0.,  0.,  0.,  1.],
       [68.,  0.,  1.,  0.,  0.,  1.],
       [51.,  1.,  0.,  0.,  0.,  0.],
       [48.,  0.,  0.,  1.,  0.,  0.],
       [12.,  1.,  0.,  0.,  0.,  1.],
       [60.,  1.,  0.,  1.,  0.,  0.],
       [65.,  1.,  0.,  0.,  0.,  0.],
       [15.,  1.,  1.,  0.,  0.,  0.],
       [23.,  1.,  0.,  0.,  1.,  1.],
       [59.,  0.,  1.,  0.,  0.,  1.],
       [83.,  1.,  0.,  1.,  0.,  0.],
       [40.,  0.,  1.,  0.,  0.,  1.],
       [38.,  1.,  1.,  0.,  0.,  0.],
       [19.,  0.,  0.,  0.,  1.,  0.],
       [34.,  0.,  1.,  0.,  0.,  1.],
       [74.,  1.,  0.,  0.,  1.,  0.]])

#By Using Column Transformer

##By using Column transformer we can reduce the complexity of performing each column separately here we can do it all together

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
transformer=ColumnTransformer(transformers=[
    ('tranformer1',SimpleImputer(),['fever']),
    ('tranformer2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tranformer3',OneHotEncoder(drop='first',sparse=False),['gender','city'])
],remainder='passthrough')

In [ ]:
transformer.fit_transform(X_train).shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)