In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/cars (1).csv')

In [ ]:
df.sample(10)

        brand  km_driven    fuel         owner  selling_price
120    Nissan      70000  Diesel   Third Owner         400000
3190   Maruti      23700  Petrol   First Owner         470000
6385   Maruti      50000  Petrol  Second Owner         210000
4937   Maruti      60000  Petrol   First Owner         270000
2710   Maruti      35000  Petrol   First Owner         600000
1895  Hyundai     100000  Diesel   Third Owner         100000
3683  Hyundai      50000  Diesel   First Owner         420000
3608   Maruti      40000  Petrol   First Owner         135000
3312   Maruti     120000  Diesel   First Owner         940000
7705   Toyota      68089  Petrol   First Owner        2000000

In [ ]:
df['brand'].nunique()

32

In [ ]:
df['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: brand, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.33)

In [ ]:
X_train

         brand  km_driven    fuel                 owner
1759    Maruti     140000  Petrol           First Owner
3040  Mahindra      70000  Diesel           First Owner
8126      Tata      25000  Diesel           First Owner
620     Maruti      30000  Petrol           First Owner
2620   Hyundai      30000  Petrol           First Owner
...        ...        ...     ...                   ...
6060   Hyundai      35000  Diesel           First Owner
7453   Hyundai      25000  Petrol  Fourth & Above Owner
6574     Lexus      20000  Petrol           First Owner
2059      Tata     189000  Diesel           First Owner
6532      Tata      50000  Petrol          Second Owner

[5445 rows x 4 columns]

In [ ]:
y_train

1759     450000
3040     700000
8126     290000
620      300000
2620     511000
         ...
6060     780000
7453     466000
6574    5150000
2059     260000
6532      95000
Name: selling_price, Length: 5445, dtype: int64

#*K One Hot Encoding |using Pandas->get_dummies()*

In [ ]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

In [ ]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

#*One Hot Encoding using sklearn*

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe=OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

In [ ]:
X_train_new=ohe.fit_transform(X_train[['fuel','owner']])
X_train_new

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 1, 0, 0]], dtype=int32)

In [ ]:
X_test_new=ohe.fit_transform(X_test[['fuel','owner']])
X_test_new.shape

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(2683, 7)

In [ ]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Maruti', 140000, 0, ..., 0, 0, 0],
       ['Mahindra', 70000, 1, ..., 0, 0, 0],
       ['Tata', 25000, 1, ..., 0, 0, 0],
       ...,
       ['Lexus', 20000, 0, ..., 0, 0, 0],
       ['Tata', 189000, 1, ..., 0, 0, 0],
       ['Tata', 50000, 0, ..., 1, 0, 0]], dtype=object)

#*One Hot Encoding with Top Categories*

In [ ]:
count=df['brand'].value_counts()

In [ ]:
count

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: brand, dtype: int64

In [ ]:
threshold=100

repl=count[count<=threshold].index

In [ ]:
repl

Index(['Nissan', 'Jaguar', 'Volvo', 'Datsun', 'Mercedes-Benz', 'Fiat', 'Audi',
       'Lexus', 'Jeep', 'Mitsubishi', 'Force', 'Land', 'Isuzu', 'Kia',
       'Ambassador', 'Daewoo', 'MG', 'Ashok', 'Opel', 'Peugeot'],
      dtype='object')

In [ ]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,0,0,0,0,1,0,0,0,0,0,0,0,0
8124,0,0,0,0,1,0,0,0,0,0,0,0,0
8125,0,0,0,0,0,0,1,0,0,0,0,0,0
8126,0,0,0,0,0,0,0,0,0,1,0,0,0
8127,0,0,0,0,0,0,0,0,0,1,0,0,0